* {
    margin:0;
    padding:0;
}

:root {
    --primary-color: black;
    --secondary-color: rgb(212, 212, 212);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--secondary-color);
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 65px 100px;
    margin-bottom: 100px;
}

.nav-links a {
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
    padding: 1px;
    text-decoration-color: yellow;
}

.logo-img {
    float: left;
    position: relative;
    margin: 0px;
}

li {
    margin: 20px;
}

.footer, .navbar {
    background-color: var(--primary-color);
}

.navbar {
    font-size: 22px;
    font-family: monospace;
}

.title {
    text-align: center;
    font-size: 50px;
    margin: 0px;
    padding: 50px;
}

.subtitle {
    font-size: 25px;
    -webkit-text-stroke: 1px black;
    margin-bottom: 100px;
}

span {
    color: crimson;
}

.avator {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    width: 450px;
    height: auto;
}

.column, h1, h3 {
     text-align: center;
}

.column2, .subtitle2 {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.subtitle2 {
    font-size: 20px;
}
